<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Crud\Demo\Api\ProductRepositoryInterface"
                type="Crud\Demo\Model\ProductRepository" />
    <preference for="Crud\Demo\Api\Data\ProductInterface"
                type="Crud\Demo\Model\Data\Product" />            
</config>